@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Section */
body {
    background-color:var(--Very-Dark-Blue);
    background-image: url(./images/bg-desktop.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Footer Section */
footer {
    background-color: #000;
}

.attribution {
    font-size: 12px;
    text-align: center;
    padding: 1.8em;
    margin: 0;
    color: white;
}

.attribution a {
    color: hsl(228, 100%, 75%);
    text-decoration: none;
    font-weight: 700;
}

/* Mobile Version */
@media screen and (max-width: 375px){

}